nav ul {
    padding-top: 10px;
    padding-bottom: 20px;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-grow: 1;
    justify-content: center;
}

nav ul li a {
    color: rgb(47, 231, 231);
    font-size: 23px;
    text-decoration: none;
}

nav ul li a .active {
    font-weight: 700;
    color: rgb(255, 238, 0);
}

nav ul li a:hover {
    background-color: rgb(38, 184, 171);
}